/* General styles */
* {
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #db6151;
  text-decoration: none;
}

/* General layout */
html, body, body,
html, body, body > div.ng-scope {
  width: 100%;
  height: 100%;
}

.y-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.columns {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.columns > div {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.last-seen {
  opacity: 0;
  transition: all .2s ease-in;
}

.last-seen.in {
  opacity: 1;
}

/* Specific */
.title-bar {
  width: 100%;
  height: 25px;
  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top,  #f8f8f8 0%, #e3e3e3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f8f8f8 0%,#e3e3e3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f8f8f8 0%,#e3e3e3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
  z-index: 10001;
  position: fixed;
  -webkit-app-region: drag;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.title-bar i {
  float: right;
  font-size: 18px;
  padding: 3px 7px 0 0;
  cursor: pointer;
}

.header {
  position: absolute;
  right: 44%;
  margin-top: 18px;
  z-index: 99999;
}

.user {
  max-width: 500px;
  margin: 10px auto 0;
  font-family: 'Raleway', sans-serif;
}

.user img {
  width: 40px;
  position: relative;
}

.user .left img {
  left: 11px;
  display: block;
}

.user p {
  display: inline-block;
  font-size: 12px;
  position: relative;
  text-align: right;
  margin: 8px 5px 18px;
}

.config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0;
  min-height: 30px;
}

.container h1 {
  margin: 0;
}

.container h3 {
  margin: 0 0 20px 0;
}

.container {
  background-color: white;
}

.fb-bttn {
  border: 0px;
  background-color: #39589a;
  color: white;
  font-family: sans-serif;
  padding: 16px 20px;
  margin-top: 36px;
  border-radius: 3px;
  font-size: 20px;
  transition: all .2s ease-out;
  cursor: pointer;
}

.fb-bttn:hover {
  opacity: 0.9;
}

.fb-login {
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container .icon {
  padding-bottom: 30px;
  width: 180px;
}

.collapse-text-toggle {
  font-size: 0.9em;
  color: #666666;
  cursor: pointer;
}
.collapse-text-toggle:hover {
  color: #222222;
}
.collapse-text-toggle:before {
  content: '\00a0(';
}
.collapse-text-toggle:after {
  content: ')';
}

/* Messages screen */
#messages {
    display: flex;
    height: 100%;
}

/* Chat */
#match-list {
  width: 250px;
  border-right: 1px solid #ddd;
  flex: initial;
  background-color: #f5f5f4;
}

.match-header {
  display: flex;
  height: 53px;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #DDD;
  justify-content: space-between;
  /*background: white;*/
  width: 100%;
}

#match-list.more-info {
    width: 250px;
}
#back-arrow {
    margin: 3px calc(75px - 1em);
}
.match {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: 0px;
  height: 60px;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.match:hover {
  background-color: rgba(245, 245, 245, 0.5);
}
.match.selected {
  background-color: #0069d9;
  color: white;
  border-color: #0069d9;
}
.match .thumbnail {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  height: 42px;
  border-radius: 50%;
  margin-right: 8px;
  width: 42px;
}
.match .name {
  margin: 0;
  transition: all .2s linear;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
}
.match.more-info {
  padding: 5px;
  font-size: 14px;
}

.match.more-info .name {
  line-height: 22px;
}

.match .info {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  transition: all .2s linear;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.info-bit {
  display: flex;
  align-items: center;
}

.match-icon {
  font-size: 20px;
  display: flex;
  margin-right: 4px;
}

/* from http://codepen.io/samuelkraft/pen/Farhl */
#conversation {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.1em;
    line-height: 20px;
    transition: all .2s linear;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
#conversation div {
    flex: 1;
}
#conversation h2 {
    padding: 0 14px 21px 11px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}
#conversation .messages-list {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 14px;
}
#conversation .messages-list-empty {
    padding: 14px;
}

#conversation div.from-me,
#conversation div.from-them {
    max-width: 51%;
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin: 1px 0;
    padding: 6px 12px;
}
#conversation textarea {
    font-size: 1em;
    outline: none;
    border: solid #ccc;
    border-width: 1px 0 0 0;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
      margin: 0;
}

.clear {
    clear: both;
}

.from-me {
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    z-index: 10;
}
.from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.sentAt {
    position: absolute;
    z-index: 9;
    opacity: 0;
    color: #555;
    min-width: 150px;
}

.from-them-date {
    right: -100px;
}

.from-them-date.bounceIn {
    transition: all .2s;
    opacity: 1;
    transform: translateX(55px);
}

.from-them-date.bounceOut {
    transition: all .2s;
    opacity: 0;
    transform: translateX(-55px);
}

.from-me-date {
  left: -80px;
}

.from-me-date.bounceIn {
    transition: all .2s;
    opacity: 1;
    transform: translateX(-55px);
}

.from-me-date.bounceOut {
    transition: all .2s;
    opacity: 0;
    transform: translateX(55px);
}

.from-them {
    cursor: pointer;
    position: relative;
    z-index: 10;
    padding: 10px 15px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
}
.from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}
.from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

.pending-message {
    color: #DAE3EA;
}

.message-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 53px;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #DDD;
}

.scrollable-matchlist {
    overflow: scroll;
    max-height: 100%;
}

.settings-button {
  color: #db6151;
  background-color: transparent;
  border: 0px;
}

.unmatch-button {
    background-color: white;
    color: white;
    padding: 6px 10px;
    border-radius: 3px;
    background-color: #dd614c;
    border: 0px;
    cursor: pointer;
    transition: all .2s linear;
}

.unmatch-button.hover {
    opacity: 0.8;
}

ul.from-to {
    display: block;
    list-style-type: none;
    margin-top: 10px;
    font-family: Arial, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

ul.from-to li {
    margin-bottom: 1px;
}

ul.from-to li label {
    background-color: rgba(0, 0, 0, .1);
    height: 24px;
    line-height: 24px;
    display: inline-block;
    width: 60px;
    padding: 0 10px;
    float: left;
    font-size: 9px;
    color: rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

ul.from-to li input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    outline: none;
}

.text-center {
    text-align: center;
}

[column] {
    display: flex;
    flex-direction: column;
}

.tinder-bttn {
    background-color: #db6151;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.tinder-bttn:hover {
    opacity: 0.8;
}

/* top right settings */
.menu {
  top: 100%;
  position: absolute;
  left: 16px;
  width: 200px;
  background: white;
  border: 1px solid #DDD;
  border-radius: .2em;
  opacity: 0;
  transform: translateY(-50px);
  transform-origin: 0 0;
  transition: all .2s cubic-bezier(.24,.22,.015,1.56),opacity .1s linear;
  pointer-events: none;
  top: 36px;
  padding: 16px;
}

.menu.open {
  transform: translateY(0px);
  opacity: 1;
  z-index: 50;
  pointer-events: auto;
}

.showProfile {
  color: #dd614c; 
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  outline: none;
}

.showProfile:hover {
  opacity: 0.8;
}

profile.profile-container {
  width: 260px;
  border-left: 1px solid #DDD;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.photo-container > div {
  flex-direction: row;
  display: flex;
}

.small-img {
  box-shadow: 0 5px 5px rgba(85, 85, 85, 0.2);
  cursor: pointer;
  max-width: 35px;
  margin: 0 4px;
  border-radius: 50%;
  border-radius: 2px;
  border-radius: 50%;
}

.small-img:hover {
  opacity: 0.8;
}

.profile-avatar {
  border-radius: 2px;
  max-width: 160px;
  margin-top: 70px;
  box-shadow: 0 5px 5px rgba(85, 85, 85, 0.2);
  margin-bottom: 16px;
  border-radius: 50%;
  transition: all .2s linear;
}

.profile-avatar:hover {
  border-radius: 0;
}
