<div ng-if="loading" class="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div id="messages" class="columns" ng-if="!loading">
  <div id="match-list" ng-class="showExtra && 'more-info'">
    <div class="match-header">
      <button ng-click="$showMenu = !$showMenu" class="settings-button">
        <i class="ion-gear-a"></i>
      </button>
      <div>
        Matches ({{conversationCount}})
      </div>
    </div>
    <div class="menu" ng-class="{true: 'open'}[$showMenu]">
      <div>
        <button class="logout-bttn" ng-click="logout()">Logout</button>
      </div>
    </div>
    <div class="scrollable-matchlist">
      <div ng-repeat="match in conversations | orderObjectBy:'lastActive':true track by match.matchId"
           ng-click="open(match.matchId)"
           ng-class="{true: 'selected'}[currentMatch === match.matchId]"
           class="match">
        <img ng-src="{{match.thumbnail || 'img/anonymous.png'}}" class="thumbnail"/>
        <div class="match-info">
          <div class="name">{{match.name || 'Unknown'}}</div>
          <div class="info">
            <div class="info-bit" ng-show="match.lastActive">
              <i class="ion-ios-chatbubble-outline match-icon"></i> <span short-time-ago="{{match.lastActive}}"></span>
            </div>
            <div ng-show="match.userPingTime" class="info-bit">
              <i class="ion-ios-eye-outline match-icon"></i><span short-time-ago="{{match.userPingTime}}"></span>
            </div>
            <div class="info-bit" ng-show="match.userDistance">
              <i class="ion-ios-location-outline match-icon" style="font-size: 18px;"></i> {{match.userDistance + 'mi'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="conversation" ng-if="conversation">
    <div class="message-header">
      <div class="chat-with">
        Chatting with <a class="showProfile">{{conversation.name}}</a>
      </div>
      <button ng-click="unmatch(conversation)" class="unmatch-button">
        Unmatch
      </button>
    </div>
    <div ng-show="conversation.messages.length == 0" class="messages-list-empty">
      No messages yet. Write something!
    </div>
    <div class="messages-list">
      <!-- normal messages -->
      <div ng-repeat-start="message in conversation.messages track by $index"
           ng-click="$showTimeStamp = !$showTimeStamp"
           style="position:relative">

        <div class="{{message.fromMe ? 'from-me' : 'from-them'}}">
        <div class="{{message.fromMe ? 'from-me-date sentAt' : 'from-them-date sentAt'}}"
             ng-class="{true: 'bounceIn', false: 'bounceOut'}[$showTimeStamp === true]">
            {{message.sentDate | date : 'short'}}
        </div>
          <div ng-if="message.text"
               ng-bind-html="message.text"></div>
        </div>
      </div>

      <div ng-repeat-end class="clear" scroll-to-last></div>
      <!-- pending messages -->
      <div ng-repeat-start="message in conversation.pending track by $index"
          class="from-me">
        <div class="pending-message">{{message}}</div>
      </div>

      <div ng-repeat-end class="clear" scroll-to-last></div>

    </div>
    <textarea ng-keypress="keypress($event, message)" ng-model="message" rows="4" placeholder="Don't mess this up..."></textarea>
  </div>
  <profile class="profile-container" ng-if="user">
    <div class="profile-photo-container">
      <img ng-src="{{selectedPhoto}}" class="profile-avatar" image-reveal style="display:flex">
      <div class="photo-container">
        <img ng-src="{{photo.url}}" 
             class="small-img"
             ng-repeat="photo in user.photos track by $index" 
             ng-click="changePhoto($index)"
             image-reveal
             duration=".15s"
             ng-classy="{true: 'selected'}[photo.url === selectedPhoto]">
      </div>
    </div>
    
    <div style="margin:10px auto 4px">{{user.name}}</div>

    <div>
      <!-- <div>Info</div> -->
      <!-- <div>Last Online: {{user.ping_time | date: 'short'}}</div> -->
      <div ng-show="user.bio">{{user.bio}}</div>
    </div>
  </profile>
</div>
