<div ng-if="loading" class="loader">
  <h3>Setting things up...</h3>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div id="messages" class="columns" ng-if="!loading">
  <div id="match-list" ng-class="showExtra && 'more-info'">
    <div class="match-header">
      <button ng-click="$showMenu = !$showMenu" class="settings-button">
        <i class="ion-gear-a"></i>
      </button>
      <div>
        Matches ({{conversationCount}})
      </div>
    </div>
    <div class="menu" ng-class="{true: 'open'}[$showMenu]">
      <div>
        <button class="logout-bttn" ng-click="logout()">Logout</button>
      </div>
    </div>
    <div class="scrollable-matchlist">
      <div ng-repeat="match in conversations | orderObjectBy:'lastActive':true track by match.matchId"
           ng-click="open(match.matchId)"
           ng-class="{true: 'selected'}[currentMatch === match.matchId]"
           class="match">
        <img ng-src="{{match.thumbnail || 'img/anonymous.png'}}" class="thumbnail"/>
        <div class="match-info">
          <div class="name">{{match.name || 'Unknown'}}</div>
          <div class="info">
            <div class="info-bit" ng-show="match.lastActive">
              <i class="ion-ios-chatbubble-outline match-icon"></i> <span short-time-ago="{{match.lastActive}}"></span>
            </div>
            <div ng-show="match.userPingTime" class="info-bit">
              <div>Last active: &nbsp;</div>
              <div><span short-time-ago="{{match.userPingTime}}"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="conversation" ng-show="conversation">
    <div ng-show="conversation.messages.length == 0" class="messages-list-empty">
      No messages yet. Write something!
    </div>
    <div class="messages-list">
      <!-- normal messages -->
      <div ng-repeat-start="message in conversation.messages track by $index"
           ng-click="$showTimeStamp = !$showTimeStamp"
           style="position:relative">

        <div class="{{message.fromMe ? 'from-me' : 'from-them'}}">
        <div class="{{message.fromMe ? 'from-me-date sentAt' : 'from-them-date sentAt'}}"
             ng-class="{true: 'bounceIn', false: 'bounceOut'}[$showTimeStamp === true]">
            {{message.sentDate | date : 'short'}}
        </div>
          <div ng-if="message.text"
               ng-bind-html="message.text"></div>
        </div>
      </div>

      <div ng-repeat-end scroll-to-last style="clear:both;"></div>
      <!-- pending messages -->
      <div ng-repeat-start="message in conversation.pending track by $index"
          class="from-me">
        <div class="pending-message">{{message}}</div>
      </div>

      <div ng-repeat-end style="clear:both;" scroll-to-last></div>

    </div>
    <textarea ng-keypress="keypress($event, message)" ng-model="message" rows="4" placeholder="Don't mess this up..."></textarea>
  </div>

  <profile class="profile-container" ng-show="user">
    <div class="user-name">
      <div class="name">{{user.name}}</div>
    </div>
    <div class="profile-photo-container">
      <img ng-src="{{selectedPhoto}}" class="profile-avatar" image-reveal style="display:flex">
      <div class="photo-container">
        <img ng-src="{{photo.url}}"
             class="small-img"
             ng-repeat="photo in user.photos track by $index"
             ng-click="changePhoto($index)"
             image-reveal
             duration=".15s"
             ng-classy="{true: 'selected'}[photo.url === selectedPhoto]">
      </div>
    </div>

    <section class="info-section">
      <div class="info">
        <div class="muted">Location</div>
        <div>{{user.distance_mi + ' miles away'}}</div>
      </div>
      <divider margin></divider>
      <div class="info">
        <div class="muted">Age</div>
        <div>{{user.age}}</div>
      </div>

      <div ng-show="user.schools.length">
        <divider margin></divider>
        <div class="info">
          <div class="muted">Edu</div>
          <div class="schooling repeated-info">
            <div ng-repeat="school in user.schools">
              <div>{{school.name}}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- {{user.common_likes}} -->

      <div ng-show="user.common_connections.length">
        <divider margin></divider>
        <div class="muted">Mutual Connections:</div>
        <div ng-repeat="con in user.common_connections" class="common-connection info">
          <div class="connection-info">
            <img ng-src="{{con.photo.small}}">
            <div class="connection-name">{{con.name}} <br /> {{formatDegree(con.degree)}}</div>
          </div>
        </div>
      </div>

      <div ng-show="user.common_interests.length">
        <divider margin></divider>
        <div class="info">
          <div class="muted">Interests</div>
          <div class="repeated-info">
            <div ng-repeat="interest in user.common_interests">
              <div>{{interest.name}}</div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="user.jobs.length">
        <divider margin></divider>
        <div style="width:100%;">
          <div class="muted" style="float:left;">Job</div>
          <div class="repeated-info">
            <div ng-repeat="job in user.jobs">
              <div>{{job.title.name}} {{job.company.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div ng-show="user.bio" style="width:100%;">
      <div class="section-title" style="max-width:100%;margin-top:24px;"></div>
      <div class="info info-section">
        <div style="white-space:pre-wrap;max-width:100%;">{{user.bio}}</div>
      </div>
    </div>
    <br />
    <!-- <divider margin></divider> -->
    <button ng-click="unmatch(conversation)" class="unmatch-button">
      Remove Match
    </button>

    <button ng-show="user.instagram" 
            class="sidebar-button" 
            ng-click="$showInsta = !$showInsta">
          {{$showInsta === true ? 'Hide' : 'Show'}} Instagram
    </button>
    <div ng-if="user.instagram && $showInsta" class="instagram-gallery">
      <div ng-repeat="photo in user.instagram.photos" class="instagram-photo-container">
        <img src="{{photo.image}}" class="instagram-photo">
      </div>
    </div>
  </profile>
</div>
